a{
    color: #fff;
}

/*============================== Social Classes==========================*/
.facebook:hover{
        background-color: #3b5998;
        
}
.twiter:hover{
        background-color:#1da1f2;
        
}
.linkedin:hover{
        background-color: #007bb5;
        
}
.google:hover{
        background-color: #4285f4;
        
}
.youtube:hover{
    background-color: #ff0000;
    
}
.massage:hover{
        background-color: #c32aa3;
        
}
.facebook:hover a,
.twiter:hover a,
.linkedin:hover a,
.google:hover a,
.youtube:hover a,
.massage:hover a{
    color: #fff;
}


.facebook,
.twiter,
.linkedin,
.google,
.youtube,
.massage{
transition: .3s;
}
/*===========================Team section global classes====================*/

.team-section{
        width: 250px;
        height: auto;
        margin: 50px auto;
        position: relative;
       
    
}

.team-member-hover {
    opacity: 0;
}


.badge {
    position: absolute;
    width: 60%;
    color: #fff;
    background: #0e8c3b;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    transform: rotate(42deg);
    z-index: 100;
}


/*=======================team member with badge and hover css================================*/

.team-member-section-with-badge-hover{
    overflow: hidden;
}
.team-member-section-with-badge-hover .badge{
    right: -35px;
    top: 27px;
}



.member-properties {
    /* background: #ccc; */
    text-align: center;
    overflow: hidden;
}

.team-member-appearance {
    width: 250px;
    position: relative;
}

.member-img>img {
    width: 250px;
    height: auto;
}

.member-img {
    width: 250px;
    height: 230px;
    overflow: hidden;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 10px;
    font-size: 18px;
}

p.position {
    font-style: italic;
    font-size: 18px;
}


.team-member-section-with-badge-hover .team-member-hover {
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 0;
    background: #312c2cb0;
    height: 190px;
    width: 210px;
    color: #fff;
    padding: 20px;
    transition: 0.5s transform ease-in;
    z-index: 99;
}

.team-member-section-with-badge-hover:hover .team-member-hover {
 opacity: 1;
 transform: translateY(-100px);
}

.member-desc {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}


.members-social-icons ul {
    list-style: none;
}

.members-social-icons ul>li {
    display: inline-block;
    border: 1px solid #fff;
    width: 30px;
    height: 28px;
    padding-top: 7px;
    text-align: center;
    margin: 20px 2px;
}

.members-social-icons ul>li>a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
a.social-icon-link {
    /* border: 1px solid white; */
}


/*========team-memvers-name-hover========*/

.team-member-name-hover-section .team-member-hover {
    position: absolute;
    display: block;
    opacity: 0;
    top: 0px;
    left: 0;
    background: #15d2c0;
    height: 50px;
    width: 210px;
    color: #fff;
    padding: 20px;
   transition: 0.8s transform ease-in;

}

.team-member-name-hover-section:hover .team-member-hover {
    top: 0px;
    opacity: 1;
    transform: translateY(-100px);

}

/*=========team-meambers-with-badge=======*/
.team-member-section-with-badge{
    overflow: hidden;
}
.team-member-section-with-badge .badge{
    right: -35px;
    top: 27px;
}

.no-effect-name{
    position: absolute;
    bottom: 20px;
    left: 10%;
    background: #f3f0f0f0;
    width: 80%;
}


/*========team-members-horizontal-layout====*/
.team-members-horizontal-layout {
    width: 550px;
}
.team-members-horizontal-layout .badge{
    right: -35px;
    top: 27px;
  
}
.team-members-horizontal-layout .member-img{
    overflow: hidden;
    position: relative;

}
.team-members-horizontal-layout .members-social-icons ul>li {
    border-color:#000;
}
.team-members-horizontal-layout>div {
    display: inline-block;
    width: 250px;
    overflow: hidden;
}
.team-members-horizontal-layout .social-icon-link{
   color:#000;
   
}
.team-members-horizontal-layout h3 {
    margin: 0 0 5px;
}
.team-members-horizontal-layout .member-properties {
    text-align: left;
}

.team-members-horizontal-layout .member-properties .position {
    margin-bottom: 5px;
}

.team-members-horizontal-layout .team-members-detles {
    margin-left: 15px;
}

.team-members-horizontal-layout .members-social-icons ul>li {
    margin-bottom: 0;
}


.team-members-horizontal-layout .member-img:hover img {transform: scale(1.5);}

.team-members-horizontal-layout .member-img img {
    transition: 0.5s all;
}

/*========team-members-gray-layout====*/
.team-member-section-with-gray-hover{
    overflow: hidden;
}
.team-member-section-with-gray-hover .badge {
    right: -35px;
    top: 27px;
}
img.filter {
    filter: grayscale(1);
}

.team-member-section-with-gray-hover .members-social-icons ul>li {
    border-color:#000;
}
.team-member-section-with-gray-hover  .social-icon-link{
    color:#000;
    
 }
 .team-member-section-with-gray-hover .member-desc {
    margin-top: -15px;
}
.team-member-appearance:hover img.filter {
    filter: grayscale(0);
}

/*========team-members-drawer-layout====*/
.team-member-section-with-drawer-badge-hover .badge {
    right: -35px;
    top: 27px;
}

.team-member-section-with-drawer-badge-hover {
    overflow: hidden;
}
.team-member-section-with-drawer-badge-hover .team-member-appearance:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    bottom: 100%;
    left: 0;
    opacity: 0;
    transition: 0.3s all;
}

.team-member-section-with-drawer-badge-hover .member-properties {
    position: absolute;
    width: 133px;
    height: 93px;
    top: 53%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    transition: 1s all;
    display: none;
    opacity: 0;
    z-index: 0;
}
.team-member-section-with-drawer-badge-hover:hover .team-member-appearance:after{
    bottom: 0%;
    opacity: 0.8;
}
.team-member-section-with-drawer-badge-hover:hover .member-properties {
    display: block;
    opacity: 1;
    z-index: 1;
}
/*========team-members-flip-layout====*/

.back-flip .member-img {
    filter: grayscale(1);
}
.team-member-section-flip-hover .team-member-appearance {
    position: relative;
    width: 250px;
    height: 250px;
    transition: 1s all;
}

.fornt-flip, .back-flip {
    position: absolute;
    width: 100%;
    height: 100%;
}
.team-member-flip-hover {
    color: red;
}

.fornt-flip {
    backface-visibility: hidden;
    z-index: 2;
}

.back-flip {
    transform: rotateY();
    transform: rotateY(180deg);
    z-index: 1;
}

/*========team-members-popup-layout====*/
.team-members-popup-hover .badge {
    right: -35px;
    top: 26px;
}

.team-members-popup-hover {
    overflow: hidden;
    transition: 0.3s all;
}
h3.name {
    background: blue;
    width: 133px;
    height: 20px;
    padding: 5px;
    margin-left: 0;
    margin-bottom: 0;
    color: white;
    font-size: 20px;
}
p.position.par {
    width: 124px;
    height: 21px;
    background: black;
    color: white;
    padding: 5px;
}
.team-members-popup-hover .member-img:hover img {
    transform: scale(1.8);
}
.team-members-popup-hover:hover .member-img{
   
    
    opacity: 0.1;
}

/*========team-members-popup-testimonial-layout====*/

.carousel-with-left-image {
    width: 500px;
    margin: 50px auto;
}

.team-members-image img {
    width: 90px;
    height: 90px;
    box-shadow: 0px 0px 10px;
   }
   .team-members-image {
    width: 90px;
    float: left;
}

.team-members-detels {
    margin-left: 121px;
    width: 635px;
}
.teammembers-apyarance {
    line-height: 1;
    letter-spacing: 2px;
    color: #A6A6A6;
}

.team-members-decription {
    background: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.team-members-signeture {
    margin-bottom: 20px;
    margin-top: 20px;
}
.team-members-decription:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #f2f2f2;
    border-right: px solid #f2f2f2;
    border-top: px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    top: 39%;left: -1%;transform:
     rotate(45deg);
     margin-left: -2px;
     background: #f2f2f2;
    }
    /*--------team-members-column-slyder--------------*/
    .team-members-column-slyder {
        width: 500px;
        margin: 50px auto;
    }
    
    .member-image {width: 300px;height: 300px;float: left;}
    
    .members-apyarance {
        margin-left: 400px;
       width: 400px;
    }
    
    .member-image img {
        width: 300px;
        height: 300px;
        display: block;
    }
    .name {
        text-transform: uppercase;
        color: red;
        margin-bottom: 20px;
        word-spacing: 18px;
        letter-spacing: -2px;
    }
    
    .host {
        margin-bottom: 14px;
        text-transform: capitalize;
    }
    
    .pozition {
        text-transform: capitalize;
        margin-bottom: 13px;
    }
    
    .members-decription {
        line-height: 1.5;
        text-align: justify;
        text-transform: capitalize;
    }
    /*--------team-members-flip-slyder--------------*/
   
    .wraper {
        max-width: 512px;
        margin: 0 auto;
        border: 1px solid black;
        padding: 11px;
        height: 263px;
        position: relative;
        padding: 5px 10;
        background: black;
    }
    
    .team-members-flip-testimonial-section .member-image {
        width: 100px;
        height: 100px;
        float: left;
    }
    
    .team-members-flip-testimonial-section .member-image img {
        width: 100px;
        height: 100px;
       
    }
    
    .team-member-apyarence {
        width: 358px;
        float: right;
        color: red;
    }
    
    
    
    .team-member-decription {
        clear: both;
        color: red;
        line-height: 1.5;
        position: absolute;
        top: 134px;
        text-align: justify;
        font-size: 18px;
    }
    
    p.members-name {
        margin-bottom: 20px;
    }
    
    p.spcialist {
        margin-bottom: 20px;
    }
    p.little-decription {
        padding: 10px;
    }